* {
  margin: 0;
  padding: 0;
}

.main-box {
  margin-top: 30px;
  height: 120px;
}

.formular-box {
  width: 200px;
  height: 75px;
  font-size: 30px;
  line-height: 75px;
  margin-left: 85px;
}

.answer {
  display: inline-block;
  width: 40px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 17px;
}

.an1 {
  margin-left: 90px;
}
