* {
  margin: 0;
  padding: 0;
}

.main-box {
  margin-top: 30px;
  height: 120px;
}

.formular-box {
  width: 300px;
  height: 250px;
  font-size: 38px;
  line-height: 250px;
  background-color: green;
  text-align: center;
  color: white;
}

.answer {
  margin-top: 100px;
  display: inline-block;
  width: 80px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 32px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  background-color: yellowgreen;
}

.an1 {
  margin-left: 25px;
}
