* {
  margin: 0;
  padding: 0;
}
.main-box {
  width: 100%;
  margin: 0 auto;
}
.formular-box {
  width: 600px;
  height: 250px;
  font-size: 50px;
  line-height: 210px;
  border: 20px solid burlywood;
  background-color: green;
  text-align: center;
  color: white;
  margin-left: -160px;
}

.among {
  width: 0;
  height: 0;
  margin-top: 50px;
  font-size: 32px;
  line-height: 90px;
  cursor: pointer;
  border-top: 50px none;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 75px solid yellowgreen;
  background-color: white;
  text-align: center;
  outline: none;
  transition: all 0.1s;
  margin-left: -10px;
}

.among:hover {
  border-top: 50px none;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 75px solid rgb(98, 204, 27);
}

.among:active {
  border-top: 50px none;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 75px solid green;
  transform: translateY(3px);
  outline: none;
}

.among:focus {
  outline: none;
}

.answer {
  margin-top: 10px;
  width: 300px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 32px;
  cursor: pointer;
  border: none;
  background-color: yellowgreen;
  outline: none;
  border-radius: 30px;
  transition: all 0.1s;
  margin-left: -10px;
}

.answer:hover {
  background-color: rgb(98, 204, 27);
}

.answer:active {
  background-color: green;
  outline: none;
  transform: translateY(3px);
}

.answer:focus {
  outline: none;
}

.below {
  width: 0;
  height: 0;
  margin-top: 10px;
  font-size: 32px;
  cursor: pointer;
  border-bottom: 50px none;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 75px solid yellowgreen;
  background-color: white;
  position: relative;
  transition: all 0.1s;
  margin-left: -10px;
}

.below:hover {
  border-bottom: 50px none;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 75px solid rgb(98, 204, 27);
}

.below:active {
  border-bottom: 50px none;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 75px solid green;
  outline: none;
  transform: translateY(3px);
}

.below:focus {
  outline: none;
}

.up {
  margin-left: -20px;
}

.down {
  margin-left: -20px;
  position: absolute;
  top: -70px;
}

.timer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  font-size: 60px;
}
