* {
  margin: 0;
  padding: 0;
}

.show-description {
  border: none;
  background-color: white;
  cursor: pointer;
  width: 300px;
  height: 40px;
  line-height: 40px;
  font-size: 36px;
  margin-top: -300px;
  margin-bottom: -50px;
}

.close-desc {
  cursor: pointer;
  width: 20px;
  font-size: 28px;
}

.setNumberbox {
  display: inline-block;
  margin-left: 10px;
}

.createFormularbox {
  display: inline-block;
  margin-left: 40px;
}

.gameoverbox {
  display: inline-block;
  margin-left: 40px;
}

.setNumbergif {
  width: 300px;
  height: 500px;
}

.createFormulargif {
  width: 300px;
  height: 500px;
}

.gameovergif {
  width: 300px;
  height: 500px;
}

.setNumberDescription {
  width: 300px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.createFormularDescription {
  width: 300px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.gameoverDescription {
  width: 300px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
