* {
  margin: 0;
  padding: 0;
}

.ranking {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  visibility: hidden;
}

.ranking.showRanking {
  visibility: visible;
}

.disappearRanking {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.ranking .sidebar {
  position: absolute;
  background-color: rgb(78, 150, 218);
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  transform: translateX(300px);
  transition: transform 0.4s;
  padding: 10px;
}

.ranking.showRanking .sidebar {
  transform: translateX(0);
}

h1 {
  font-size: 40px;
  color: white;
}

hr {
  border: 1px solid white;
}

.rank {
  margin-top: 10px;
  cursor: pointer;
  border: 0.1px solid white;
  height: 80px;
}

.rank-score {
  font-size: 22px;
  display: inline-block;
  width: 50px;
  height: 40px;
  margin-top: 24px;
  margin-left: 10px;
}

.rank-username {
  font-size: 20px;
  display: inline-block;
  width: 160px;
  height: 40px;
  margin-left: 5px;
  margin-top: 20px;
}
